html {
    height: 100%;

    > body {
        height: 100%;

        > #__next {
            height: 100%;
        }
    }
}

.basic-page {
    flex-direction: column;
    > .basic-page-container {
        flex: 1 1 auto;
        overflow: hidden;
    }
}

.message-content {
    flex: 1 1 auto;
    overflow-y: auto;
}